.city {
    border: solid transparent 2px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    margin-top: 60px;
    border-radius: 5px;
}

.city:hover {
    border: solid grey 2px !important;
}

.city:disabled {
    pointer-events: none;
}